<template>
  <div style="margin-bottom: 15%">
     <div class="col-4 q-pa-md" style="max-width: 300px">
      <q-select
        outlined
        dense
        emit-value
        map-options
        label="Mode View"
        v-model="theme"
        :options="themesList"
        class="col-4"
      ></q-select>
    </div>
    <div class="col-4 q-pa-md" style="max-width: 300px">
	   <q-card
	      class="my-card text-grey"
	    >
	      <q-card-section>
	        <div class="text-h6">{{dateDisplay}}</div>
	        <div class="text-subtitle2">{{dateDayOfWeek}}</div>

	      </q-card-section>
		  <q-card-actions>
	        <q-btn flat dense round icon="keyboard_arrow_left" @click="onPrev"></q-btn>
			<q-btn icon="add" round @click.native="addEventMenu" color="primary"></q-btn>
	        <q-btn flat dense round icon="keyboard_arrow_right" @click="onNext"></q-btn>
		  </q-card-actions>	      
	    </q-card>
    </div>

    <q-separator></q-separator>
    <q-dialog v-model="displayEvent">
      <div>
        <q-card v-if="event">
          <q-toolbar :class="displayClasses(event)" :style="displayStyles(event)" style="min-width: 400px;">
            <q-toolbar-title>
              {{ event.title }}
            </q-toolbar-title>

            <q-btn flat round color="white" icon="edit" v-close-popup @click="editEvent(event)"></q-btn>
            <q-btn flat round color="white" icon="close" v-close-popup></q-btn>
          </q-toolbar>
          <q-card-actions align="right">
            <q-btn flat label="OK" color="primary" v-close-popup></q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </q-dialog>


    <!-- add/edit an event -->
    <q-dialog v-model="addEvent" no-backdrop-dismiss>
      <div>
        <q-form
          v-if="contextDay"
          ref='event'
          @submit="onSubmit"
          @reset="onReset"
        >
          <q-card v-if="addEvent" style="width: 400px;">
            <q-toolbar class="bg-primary text-white">
              <q-toolbar-title>
                {{ eventMode }} Event
              </q-toolbar-title>
              <q-btn flat round color="white" icon="close" v-close-popup></q-btn>
            </q-toolbar>
            <q-card-section class="inset-shadow">
              <q-input
                v-model="eventForm.title"
                label="Title"
                :rules="[v => v && v.length > 0 || 'Field cannot be empty']"
              />
              <q-input
                v-model="eventForm.bgcolor"
                label="Color"
                style="padding-bottom: 20px;"
                outlined
                clearable
              >
                <template #append>
                  <q-icon name="colorize" class="cursor-pointer">
                    <q-popup-proxy>
                      <q-color v-model="eventForm.bgcolor"></q-color>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
              <div>
                <q-input
                  v-model="eventForm.startDate"
                  ref="startDate"
                  label="Event start date "
                  mask="####-##-##"
                  :rules="[val => checkstartDate() || 'Start time cannot come after end time']"
                  outlined
                  color="blue-6"
                >
                  <template #append>
                    <q-icon name="event" class="cursor-pointer" transition-show="scale" transition-hide="scale">
                      <q-popup-proxy v-model="showStartDate">
 				        <q-date v-model="startDate">
				          <div class="row items-center justify-end q-gutter-sm">
				            <q-btn label="Cancel" color="primary" flat v-close-popup />
				            <q-btn label="OK" color="primary" flat @click="save('start')" v-close-popup />
				          </div>
				        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>

                <q-input
                  v-model="eventForm.endDate"
                  ref="endDate"
                  label="Event end date"
                  mask="####-##-##"
                  :rules="[val => checkendDate() || 'Start time cannot come after end time']"
                  color="blue-6"
                  outlined
                >
                  <template #append>
                    <q-icon name="event" class="cursor-pointer" transition-show="scale" transition-hide="scale">
                      <q-popup-proxy v-model="showEndDate">
 				        <q-date v-model="endDate">
				          <div class="row items-center justify-end q-gutter-sm">
				            <q-btn label="Cancel" color="primary" flat v-close-popup />
				            <q-btn label="OK" color="primary" flat @click="save('end')" v-close-popup />
				          </div>
				        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
			  <div class="q-pa-md">
			    <div class="q-gutter-sm">
			      <q-checkbox v-model="eventForm.selection" val="monday" label="Monday"/>
				  <q-checkbox v-model="eventForm.selection" val="tuesday" label="Tuesday"/>
				  <q-checkbox v-model="eventForm.selection" val="wednesday" label="Wednesday"/>
				  <q-checkbox v-model="eventForm.selection" val="thursday" label="Thursday"/>
				  <q-checkbox v-model="eventForm.selection" val="friday" label="Friday"/>
				  <q-checkbox v-model="eventForm.selection" val="saturday" label="Saturday"/>
				  <q-checkbox v-model="eventForm.selection" val="sunday" label="Sunday"/>
			    </div>
			  </div>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat label="OK" type="submit" color="primary"></q-btn>
              <q-btn flat label="Cancel" type="reset" color="primary" v-close-popup></q-btn>
            </q-card-actions>
          </q-card>
        </q-form>
      </div>
    </q-dialog>
    <q-calendar

      v-model="selectedDate"
      :view="theme"
      locale="en-us"
      style="height: 400px;"
      ref="calendar"
      class="calendar"
      @click:day="addEventMenu"
    >
        <template #day="{ date }">
          <template>
            <template v-for="(event, index) in getEvents(date)">
              <q-badge
                :key="index"
                style=" width: 100%; cursor: pointer; height: 14px; max-height: 14px"
                :class="badgeClasses(event, 'day')"
                :style="badgeStyles(event, 'day')"
                @click.stop.prevent="showEvent(event)"
                :draggable="true"
                @dragstart.native="(e) => onDragStart(e, event)"
                @dragend.native="(e) => onDragEnd(e, event)"
                @dragenter.native="(e) => onDragEnter(e, event)"
                @touchmove.native="(e) => {}"
              >
                <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
              </q-badge>
            </template>
          </template>
        </template>    
      <template #day-body="{ date, timeStartPos, timeDurationHeight }">
        <template v-for="(event, index) in getEvents(date)">
          <q-badge
            v-if="event.time"
            :key="index"
            @click.stop.prevent="showEvent(event)"
                :draggable="true"
            class="my-event justify-center"
            :class="badgeClasses(event, 'body')"
            :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
          >
            <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
          </q-badge>
        </template>
      </template>
    </q-calendar>
  </div>
</template>

<script>
// normally you would not import "all" of QCalendar, but is needed for this example to work with UMD (codepen)
import QCalendar from '@quasar/quasar-ui-qcalendar' // ui is aliased from '@quasar/quasar-ui-qcalendar'
import { date, colors, Platform } from 'quasar'
import { padTime } from '..//util/time'
import axios from 'axios'
import envConfig from '..//util/envConfig'

const formDefault = {
  title: '',
  details: '',
  allDay: false,
  startDate: '',
  endDate: '',
  icon: '',
  bgcolor: '#0000FF',
  selection: []

}



const CURRENT_DAY = new Date()

function getCurrentDay (day) {
  const newDay = new Date(CURRENT_DAY)
  newDay.setDate(day)
  const tm = QCalendar.parseDate(newDay)
  return tm.date
}

const reRGBA = /^\s*rgb(a)?\s*\((\s*(\d+)\s*,\s*?){2}(\d+)\s*,?\s*([01]?\.?\d*?)?\s*\)\s*$/

function textToRgb (color) {
  if (typeof color !== 'string') {
    throw new TypeError('Expected a string')
  }

  const m = reRGBA.exec(color)
  if (m) {
    const rgb = {
      r: Math.min(255, parseInt(m[2], 10)),
      g: Math.min(255, parseInt(m[3], 10)),
      b: Math.min(255, parseInt(m[4], 10))
    }
    if (m[1]) {
      rgb.a = Math.min(1, parseFloat(m[5]))
    }
    return rgb
  }
  return hexToRgb(color)
}

function hexToRgb (hex) {
  if (typeof hex !== 'string') {
    throw new TypeError('Expected a string')
  }

  hex = hex.replace(/^#/, '')

  if (hex.length === 3) {
    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2]
  } else if (hex.length === 4) {
    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2] + hex[3] + hex[3]
  }

  const num = parseInt(hex, 16)

  return hex.length > 6
    ? { r: num >> 24 & 255, g: num >> 16 & 255, b: num >> 8 & 255, a: Math.round((num & 255) / 2.55) }
    : { r: num >> 16, g: num >> 8 & 255, b: num & 255 }
}

function luminosity (color) {
  if (typeof color !== 'string' && (!color || color.r === void 0)) {
    throw new TypeError('Expected a string or a {r, g, b} object as color')
  }

  const
    rgb = typeof color === 'string' ? textToRgb(color) : color,
    r = rgb.r / 255,
    g = rgb.g / 255,
    b = rgb.b / 255,
    R = r <= 0.03928 ? r / 12.92 : Math.pow((r + 0.055) / 1.055, 2.4),
    G = g <= 0.03928 ? g / 12.92 : Math.pow((g + 0.055) / 1.055, 2.4),
    B = b <= 0.03928 ? b / 12.92 : Math.pow((b + 0.055) / 1.055, 2.4)
  return 0.2126 * R + 0.7152 * G + 0.0722 * B
}

export default {
  data () {
    return {
      selection : [],
	  showStartDate: false,
	  showEndDate: false,
	  endDate: '',
	  startDate: '',
      eventMode : 'Add',
      contextDay: {},
      eventForm: { ...formDefault },
      displayEvent: false,
      event: null,    	
      addEvent : false,
      theme : 'month',
      proxyDate: '2020/01/01',
      date: '2020/01/01',
      themesList  : [
       {label: 'Week', value:'week'},
       {label: 'Day', value:'day'},
       {label: 'Month', value:'month'}
      ],
      selectedDate: '',
      eventList: [],
    }
  },
  created(){
  	this.fetchEvents();
  },
  mounted () {
  	this.fetchEvents()
    this.$root.$on('calendar:next', this.calendarNext)
    this.$root.$on('calendar:prev', this.calendarPrev)
    this.$root.$on('calendar:today', this.calendarToday)
    this.updateFormatters()
    this.setToday();
  },
  beforeDestroy () {
    this.$root.$off('calendar:next', this.calendarNext)
    this.$root.$off('calendar:prev', this.calendarPrev)
    this.$root.$off('calendar:today', this.calendarToday)
  },  
  computed: {
  	events () {
  		return this.eventList
  	},
    calendarView: {
      get () {
        return this.$store.state.calendar.calendarView
      },
      set (view) {
        this.$store.commit('calendar/calendarView', view)
      }
    },
    dateValue: {
      get: function () {
        return date.formatDate(this.proxyDate, 'YYYY-mm-dd');
      },
      set: function (newValue) {
        this.proxyDate = date.formatDate(newValue, 'YYYY/MM/DD')
      }
	},  	
    eventsMap () {
      const map = {}
      this.events.forEach((event) => (map[event.date] = map[event.date] || []).push(event))
      return map
    },
    dateDisplay () {
    	return date.formatDate(this.selectedDate, 'MMMM DD,YYYY')
    },
    dateDayOfWeek () {
    	return date.formatDate(this.selectedDate, 'dddd')
    }
  },

  methods: {
  	fetchEvents() {

  		axios.get(envConfig.apiUrl).then(response => {
  			this.eventList = response.data.data
  		})
  	},
    checkstartDate (/* val */) {
      this.$refs.endDate.resetValidation()
      if (this.eventForm.startDate && this.eventForm.endDate) {
        const timestampStart = QCalendar.parseTimestamp(this.eventForm.startDate)
        const timestampEnd = QCalendar.parseTimestamp(this.eventForm.endDate)
        const dayStart = QCalendar.getDayIdentifier(timestampStart)
        const dayEnd = QCalendar.getDayIdentifier(timestampEnd)
        if (dayStart < dayEnd) {
          return true
        } else if (dayStart > dayEnd) {
          return false
        } else {
          const timeStart = QCalendar.getTimeIdentifier(timestampStart)
          const timeEnd = QCalendar.getTimeIdentifier(timestampEnd)
          if (timeStart <= timeEnd) {
            return true
          } else {
            return false
          }
        }
      }
      else if(this.eventForm.startDate && !this.eventForm.endDate) {
      	return true
      }
      return false
    },  	
    checkendDate (val) {
      this.$refs.startDate.resetValidation()
      if (this.eventForm.startDate && this.eventForm.endDate) {
        const timestampEnd = QCalendar.parseTimestamp(this.eventForm.endDate)
        const timestampStart = QCalendar.parseTimestamp(this.eventForm.startDate)
        const dayEnd = QCalendar.getDayIdentifier(timestampEnd)
        const dayStart = QCalendar.getDayIdentifier(timestampStart)
        if (dayEnd > dayStart) {
          return true
        } else if (dayEnd < dayStart) {
          return false
        } else {
          const timeEnd = QCalendar.getTimeIdentifier(timestampEnd)
          const timeStart = QCalendar.getTimeIdentifier(timestampStart)
          if (timeEnd >= timeStart) {
            return true
          } else {
            return false
          }
        }
      }
      return false
    },
   setToday () {
      this.$root.$emit('calendar:today', this.formatDate())
    },
    formatDate (date) {
      const d = date !== void 0 ? new Date(date) : new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()

      return [year, padTime(month), padTime(day)].join('-')
    },
    displayStyles (event) {
      const s = {}
      if (this.isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = colors.luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      return s
    },  	
    displayClasses (event) {
      return {
        [`bg-${event.bgcolor}`]: !this.isCssColor(event.bgcolor),
        'text-white': !this.isCssColor(event.bgcolor)
      }
    },  	
    showEvent (event) {
        this.event = event
        this.displayEvent = true
    },  	
    formatDate (date) {
      const d = date !== void 0 ? new Date(date) : new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()

      return [year, padTime(month), padTime(day)].join('-')
    },
    updateFormatters () {
      try {
        this.dateFormatter = new Intl.DateTimeFormat(this.locale || void 0, {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit',
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
          hour12: false,
          timeZone: 'UTC'
        })
        this.titleFormatter = new Intl.DateTimeFormat(this.locale || void 0, {
          month: this.shortMonthLabel ? 'short' : 'long',
          year: 'numeric',
          timeZone: 'UTC'
        })
      } catch (e) {
        // console.error('Intl.DateTimeFormat not supported')
        this.dateFormatter = void 0
        this.titleFormatter = void 0
      }
    },
    options (date) {
      if (this.fiveDayWorkWeek) {
        // figure out if date is a weekend,
        const parts = date.split('/')
        // acount for months starting at 0
        const time = new Date(parts[0], parts[1] - 1, parts[2])
        return !!(time.getDay() % 6)
      }
      return true
    },  	
    onPrev () {
      this.$root.$emit('calendar:prev')
    },
    onNext () {
      this.$root.$emit('calendar:next')
    },
    calendarNext () {
      this.$refs.calendar.next()
    },
    calendarPrev () {
      this.$refs.calendar.prev()
    },
    calendarToday (today) {
      this.selectedDate = today
    },  	
    onSubmit () {
      this.saveEvent()
    },

    onReset () {

    },

    saveEvent () {
      const self = this
      this.$refs.event.validate().then((success) => {
        if (success) {
          
          self.addEvent = false
          
          const form = { ...self.eventForm }
          
          let update = false
          
          if (self.contextDay.bgcolor) {
            update = true
          } 

          const data = {
            title: form.title,
            details: form.details,
            bgcolor: form.bgcolor,
            date: String(form.startDate).slice(0, 10).replace(/\//g, '-'),
            startDate: form.startDate,
            endDate: form.endDate,
            selection: form.selection
          }

          const apiData = {
            name: form.title,
            description: form.details,
            date: String(form.startDate).slice(0, 10).replace(/\//g, '-'),
            start_date: form.startDate,
            end_date: form.endDate,
            days: form.selection 
          };

          if (this.eventMode == 'Update' && form.event_id) {
            axios.put(envConfig.apiUrl + '/' + form.event_id, apiData).then(response => {
              this.fetchEvents();
            })            
          } else {
          	axios.post(envConfig.apiUrl, apiData).then(response => {
  				    this.fetchEvents();
  			    })
            self.events.push(data)
          }

          self.contextDay = null
        }
      })
    },
    addOrUpdateEvent () {
      if (this.contextDay && this.contextDay.bgcolor) {
        this.eventMode = 'Update'
      }
      else{
      	this.eventMode = 'Add'
      } 
    },  	
    isCssColor (color) {
      return !!color && !!color.match(/^(#|(rgb|hsl)a?\()/)
    },
    addEventMenu (day, type) {

      if (day.disabled === true || this.calendarView.indexOf('scheduler') > -1 || this.calendarView.indexOf('agenda') > -1) {
        return
      }
      this.resetForm()
      this.contextDay = { ...day }
      let timestamp
      if (this.contextDay.hasTime === true) {
        timestamp = this.adjustTimestamp(this.contextDay)
        const endTime = QCalendar.addToDate(timestamp, { hour: 1 })
        this.eventForm.endDate = QCalendar.getDateTime(endTime)
      } else {
        timestamp = QCalendar.parseTimestamp(this.contextDay.date + ' 00:00')
      }
      this.eventForm.startDate = QCalendar.getDateTime(timestamp)
      this.eventForm.allDay = this.contextDay.hasTime === false
      this.eventForm.bgcolor = '#0000FF' // starting color
      this.addEvent = true // show dialog
    },
    editEvent (event) {
      this.resetForm()
      this.eventMode = 'Update'
      this.contextDay = { ...event }
      let timestamp
      if (event.time) {
        timestamp = QCalendar.parseTimestamp(event.date + ' ' + event.time)
        const endTime = QCalendar.addToDate(timestamp, { minute: event.duration })
        this.eventForm.endDate = QCalendar.getDateTime(endTime)
      } else {
        timestamp = QCalendar.parseTimestamp(this.contextDay.date + ' 00:00')
      }

      this.eventForm.startDate = QCalendar.getDateTime(timestamp)
      this.eventForm.selection = event.days
      this.eventForm.endDate = event.endDate
      this.eventForm.allDay = !event.time
      this.eventForm.bgcolor = event.bgcolor
      this.eventForm.icon = event.icon
      this.eventForm.title = event.title
      this.eventForm.details = event.details
      this.eventForm.event_id = event.event_id
      this.addEvent = true // show dialog
    },
    deleteEvent (event) {
      const index = this.findEventIndex(event)
      if (index >= 0) {
        this.events.splice(index, 1)
      }
    },
    resetForm () {
      this.$set(this, 'eventForm', { ...formDefault })
    },    		
    updateProxy () {
      this.proxyDate = this.date
    },

    save (type) {
    	if(type == 'start') {
    		this.eventForm.startDate = this.startDate
    	}else{
    		this.eventForm.endDate = this.endDate
    	}
    },

    badgeClasses (event, type) {
      const cssColor = this.isCssColor(event.bgcolor)
      const isHeader = type === 'header'
      return {
        [`text-white bg-${event.bgcolor}`]: !cssColor,
        'full-width': !isHeader && (!event.side || event.side === 'full'),
        'left-side': !isHeader && event.side === 'left',
        'right-side': !isHeader && event.side === 'right'
      }
    },

    badgeStyles (event, type, timeStartPos, timeDurationHeight) {
      const s = {}
      if (this.isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      if (timeStartPos) {
        s.top = timeStartPos(event.time) + 'px'
      }
      if (timeDurationHeight) {
        s.height = timeDurationHeight(event.duration) + 'px'
      }
      s['align-items'] = 'flex-start'
      return s
    },

    getEvents (dt) {
      const currentDate = QCalendar.parsed(dt)
      const events = []
      for (let i = 0; i < this.events.length; ++i) {
        let added = false

        if (this.events[i].date === dt) {
          if (this.events[i].time) {
            if (events.length > 0) {
              // check for overlapping times
              const startTime = QCalendar.parsed(this.events[i].date + ' ' + this.events[i].time)
              const endTime = QCalendar.addToDate(startTime, { minute: this.events[i].duration })
              for (let j = 0; j < events.length; ++j) {
                const startTime2 = QCalendar.parsed(events[j].date + ' ' + events[j].time)
                const endTime2 = QCalendar.addToDate(startTime2, { minute: events[j].duration })
                if (QCalendar.isBetweenDates(startTime, startTime2, endTime2) || QCalendar.isBetweenDates(endTime, startTime2, endTime2)) {
                  events[j].side = 'left'
                  this.events[i].side = 'right'
                  events.push(this.events[i])
                  added = true
                  break
                }
              }
            }
          }
          if (!added) {
            this.events[i].side = void 0
            events.push(this.events[i])
          }
        } else if (this.events[i].days) {
          // check for overlapping dates
          const startDate = QCalendar.parsed(this.events[i].date)
          const endDate = QCalendar.addToDate(startDate, { day: this.events[i].days })
          if (QCalendar.isBetweenDates(currentDate, startDate, endDate)) {
            events.push(this.events[i])
            added = true
          }
        }
      }
      return events
    }
  }
}
</script>

<style lang="sass">
  // this page
  .calendar-container
    position: relative

  .my-event
    width: 100%
    position: absolute
    font-size: 12px

  .full-width
    left: 0
    width: 100%

  .left-side
    left: 0
    width: 49.75%

  .right-side
    left: 50.25%
    width: 49.75%
  </style>
  <style src="@quasar/quasar-ui-qcalendar/dist/index.css"></style>